.toolkit {
  float: right;
  background: lightblue;
}

.toolkititem {
  padding: 5px;
}

.toolkititem.selected {
  background: lightcoral;
}

/* .paintarea {

} */

.paintareacell {
  width: 20px;
  height: 20px;
  border: 1px solid grey;
}

.paletteitem {
  width: 30px;
  height: 30px;
  border: 3px solid black;
  display: inline-block;
}

.paletteitem.selected {
  border: 3px solid red;
}

.colorIndicator {
  width: 100px;
  height: 100px;
}